[submodule "externals/speedrun"]
	path = externals/speedrun
	url = https://github.com/yyang42/speedrun.git
[submodule "externals/snake"]
	path = externals/snake
	url = https://github.com/hhismans/rush_snake.git
